.instrument-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2%;
    margin-top: 0;
    margin-bottom: 5%;
  }
.instrument-cards{
  margin-bottom: 10% ;
}
.icon-color{
  color:gold;
}